@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

#header {
  border-bottom: 1.5px solid var(--border-color);
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  height: 95px;

  .desktopContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .logoSL {
    width: 80px;
    height: 37px;
    object-fit: cover;
  }

  .contactUseBtn {
    background-color: var(--background-color);
    border-radius: 30px;
    padding: 10px 28px;
    outline: none;
    font-weight: 700;
    font-size: 17px;
    color: var(--text-color);
    cursor: pointer;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-weight: 700;
      font-size: 17px;
      color: var(--text-color);
      position: relative;
      transition: all 2s;
      &:after {
        position: absolute;
        transition: all 0.5s;
        bottom: -8px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: black;
        height: 2px;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
      }
      &:hover:after {
        width: 100%;
      }
    }

    .active {
      &:after {
        position: absolute;
        transition: all 0.5s;
        bottom: -8px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        content: '.';
        color: transparent;
        background: black;
      }
    }

    .services {
      .rotate {
        transform: rotate(180deg);
        transition: all 0.5s;
      }

      img {
        margin-left: 6px;
        width: 8px;
        height: 8px;
        object-fit: fill;
      }
    }
  }

  .menuIcon {
    display: none;
    cursor: pointer;
  }

  .containerBtn {
    display: flex;
    align-items: center;
    gap: 37.5px;
  }

  .dropdown {
    visibility: hidden;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 100%;
    left: 0;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    gap: 20px;
    transition: display 0.3s ease;

    a {
      font-size: 20px;
    }

    div {
      margin: 20px 0;
    }
  }

  .show {
    animation: openDropdown 300ms ease forwards;
  }
}

@keyframes openDropdown {
  from {
    visibility: hidden;
    height: 0;
  }

  to {
    visibility: visible;
    height: 350px;
  }
}

// TABLET
@media screen and (max-width: 768px) {
  #header {
    padding: 0 4%;

    .desktopContainer {
      justify-content: space-between;
    }

    .navbar {
      display: none;
    }

    .menuIcon {
      display: flex;
    }
  }
}

// PHONE
@media screen and (max-width: 376px) {
  #header {
    padding: 0 3%;

    .containerBtn {
      gap: 20px;

      .contactUseBtn {
        padding: 7px 20px;
      }
    }
  }
}
