.techTalentCard {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 20px;

  .fixSize {
    width: 224px;
    height: 280px;
  }

  .imageCard {
    @extend .fixSize;
    object-fit: contain;
  }

  .cardMultiple {
    @extend .fixSize;
    position: relative;
    overflow: hidden;

    .cardElement {
      position: absolute;
      width: 100%;
      background-color: var(--forth-color);
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      height: 220px;
      display: flex;
      flex-direction: column;
      margin: 0;
      font-weight: 700;
      font-size: 17px;

      li {
        margin-top: 22px;
      }

      p {
        position: absolute;
        bottom: 15px;
        left: 18px;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        color: var(--fifth-color);
      }
    }

    .cardElement2 {
      @extend .cardElement;
      background-color: var(--text-color);
      color: var(--background-color);
      top: 60px;
      height: 140px;
    }

    .cardElement3 {
      @extend .cardElement;
      background-color: var(--fifth-color);
      top: 120px;
      height: 140px;
    }

    .cardElement4 {
      @extend .cardElement;
      background-color: var(--sixth-color);
      color: var(--background-color);
      top: 180px;
      height: 100px;
      border-radius: 24px;
    }
  }

  .cardInfoCompany {
    @extend .fixSize;
    display: flex;
    flex-direction: column;

    .testCard {
      display: flex;
      width: 100%;
    }

    .employees {
      background-color: var(--text-color);
      color: var(--background-color);
      border-radius: 24px;
      width: 100%;
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 42px;
      font-weight: 700;
      line-height: 40px;
      grid-area: employees;

      p {
        font-weight: 100;
        font-size: 16px;
        margin: 0;
      }
    }

    .unit {
      @extend .employees;
      background-color: var(--third-color);
      color: var(--text-color);
      width: 50%;
    }

    .developers {
      @extend .employees;
      width: 50%;
      background-color: var(--forth-color);
      color: var(--text-color);
    }
  }
}
