
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSlide {
  width: 554px;
  height: 415px;
  background-position: center;
  background-size: cover;
  }

.swiperSlide img {
  display: block;
  width: 100%;
}
