.acceptButton {
  display: flex;
  align-items: center;
  border-radius: 200px;
  padding: 5px 7px 4px 19px;
  font-weight: 700;
  font-size: 18px;
  gap: 20px;
  border: 0;
  height: 51px;
  min-width: 227px;
  justify-content: space-between;
  cursor: pointer;

  .icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
