.blogCard {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 0 0 64px 0;
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);
  }

  .readMore {
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    padding-top: 10px;
    margin-left: auto;
    cursor: pointer;
    text-align: right;
  }

  .separator {
    width: 100%;
    border-bottom: 1px solid var(--separator-footer-color);
    margin-top: 12px;
  }

  .authorInfo {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    gap: 13px;

    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      object-fit: cover;
    }

    div {
      h4 {
        margin: 0 0 5px 0;
        font-size: 19px;
        font-weight: 700;
      }

      h6 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: var(--separator-footer-color);
      }
    }
  }

  .tag1 {
    background-color: var(--forth-color);
    padding: 4px 16px;
    border-radius: 20px;
    border: 1px solid var(--separator-footer-color);
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color);
  }

  .blogCardContainer {
    height: 534px;
    max-width: 1200px;
    border-radius: 24px;
    background-color: var(--secondary-color);
    border: 1px solid var(--separator-footer-color);
    padding: 42px;
    margin-bottom: 32px;

    .subTitle {
      font-size: 28px;
      font-weight: 700;
      color: var(--text-color);
      margin: 0 0 24px 0;
    }

    .tagsContainer {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 10px;

      .tag2 {
        @extend .tag1;
        background-color: var(--third-color);
      }
    }

    .textContainer {
      display: flex;
      gap: 24px;

      .blogImage {
        width: 663px;
        height: 351px;
        object-fit: cover;
        border-radius: 16px;
      }

      .blogText {
        position: relative;

        p {
          margin: 0;
          font-size: 15px;
          line-height: 150%;
          color: var(--text-color);
        }
      }
    }
  }

  .articleSecondaryCard {
    display: flex;
    gap: 20px;
    margin-bottom: 42px;

    .singleArticle {
      position: relative;
      width: 387px;
      height: 551px;
      padding: 24px 28px;
      border: 1px solid var(--separator-footer-color);
      border-radius: 24px;
      background-color: var(--secondary-color);

      .mobileContainer {
        display: none;
      }

      .articleSecondaryImg {
        width: 331px;
        height: 196px;
        object-fit: cover;
        margin-bottom: 18px;
      }

      .articleTag1 {
        @extend .tag1;
        margin-bottom: 8px;
      }

      .articleTitle {
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 8px;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 16px;
        line-height: 150%;
      }

      .authorInfo {
        width: auto;
        bottom: 16px;
      }

      .readMore {
        padding-top: 5px;
      }
    }
  }

  .carouselControl {
    margin-top: 28px;
    margin-bottom: 48px;
    align-self: center;
    display: flex;
    align-items: center;
    height: 20px;
    gap: 20px;

    .selector {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--text-color);
      cursor: pointer;
    }
  }
}

// TABLET
@media screen and (max-width: 768px) {
  .blogCard {
    margin-top: 176px;

    .title {
      font-size: 32px;
      margin-top: 0;
    }

    .blogCardContainer {
      display: none;
    }

    .articleSecondaryCard {
      width: 100%;
      overflow: scroll;
      flex-wrap: nowrap;
      padding-left: 32px;
      padding-right: 32px;
      gap: 18px;

      .singleArticle {
        width: 343px;
        height: 577px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .mobileContainer {
          display: flex;
          flex-direction: column;
          gap: 14px;
          margin-bottom: 18px;

          .articleTag1,
          .articleTitle {
            display: initial;
          }
        }

        .articleSecondaryImg {
          width: 315px;
          height: 180px;
          object-fit: fill;
          margin-bottom: 0;
        }

        .articleTag1,
        .articleTitle {
          display: none;
        }

        p {
          font-size: 14px;
          line-height: 21px;
          -webkit-line-clamp: 6;
        }

        .readMore,
        .separator {
          margin-top: 0;
        }

        .authorInfo {
          width: 100%;
          padding: 0 25px;

          img {
            width: 32px;
            height: 32px;
          }

          div {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            h4 {
              font-size: 14px;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
}

// PHONE
@media screen and (max-width: 376px) {
  .blogCard {
    width: 100%;
    padding: 0 16px;
    margin-top: 100px;

    .title {
      margin-bottom: 40px;
    }

    .articleSecondaryCard {
      padding: 0;
      margin: 0;
    }

    .carouselControl {
      margin-top: 24px;
      margin-bottom: 40px;
      gap: 14px;

      .selector {
        width: 10px;
        height: 10px;
      }
    }
  }
}
