#header {
  border-bottom: 1.5px solid var(--border-color);
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  .logoSL {
    width: 80px;
    height: 37px;
    object-fit: cover;
  }

  .contactUseBtn {
    background-color: var(--background-color);
    border-radius: 30px;
    padding: 10px 28px;
    outline: none;
    font-weight: 700;
    font-size: 17px;
    color: var(--text-color);
    cursor: pointer;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-weight: 700;
      font-size: 17px;
      color: var(--text-color);
    }
  }

  .menuIcon {
    display: none;
    cursor: pointer;
  }

  .containerBtn {
    display: flex;
    align-items: center;
    gap: 37.5px;
  }

  .dropdown {
    display: none;
    position: absolute;
    border: 1px solid var(--separator-footer-color);
    border-radius: 4px;
    width: 140px;
    height: 200px;
    top: 70%;
    right: 5%;
    z-index: 5;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    justify-content: space-between;
    padding: 0 4%;

    .navbar {
      display: none;
    }

    .menuIcon,
    .dropdown {
      display: flex;
    }
  }
}
