#header {
  border-bottom: 1.5px solid var(--border-color);
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .contactUseBtn {
    background-color: var(--background-color);
    border-radius: 30px;
    padding: 10px 28px;
    outline: none;
    font-weight: 700;
    font-size: 17px;
    color: var(--text-color);
    cursor: pointer;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-weight: 700;
      font-size: 17px;
      color: var(--text-color);
    }
  }
}
