.contactUsCard {
  margin-top: 200px;

  .title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0 0 64px 0;
  }

  .error {
    border: 1px solid var(--error-color) !important;
  }

  .contactUsContainer {
    width: 1320px;
    height: 813px;
    background-color: var(--text-color);
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 42px;
    margin-bottom: 100px;

    .subTitle {
      margin: 0;
      font-size: 28px;
      color: var(--background-color);
      font-weight: 500;
      margin-bottom: 30px;
      margin-left: 40px;

      span {
        color: var(--forth-color);
      }
    }

    .formContainerImage {
      display: flex;
      justify-content: center;
      align-items: center;

      .contactImage {
        width: 590px;
        height: 547px;
        object-fit: cover;
      }

      .companyDetailsCard {
        margin-left: 20px;
        background-color: var(--forth-color);
        border-radius: 16px;
        border: 1px solid var(--text-color);
        width: 548px;
        height: 548px;
        padding: 28px 20px;

        .separator {
          border-bottom: 1px solid var(--text-color);
          width: 100%;
          margin: 32px 0;
        }

        .additionalInfo {
          h3 {
            font-size: 28px;
            font-weight: 700;
            color: var(--text-color);
          }

          .selectorContainer {
            display: flex;
            gap: 24px;
            align-items: center;
          }
        }

        .inputContainer {
          display: flex;
          flex-direction: column;

          label {
            font-size: 16px;
            color: var(--text-color);
          }

          input[type='text'] {
            width: 242px;
            height: 42px;
            border-radius: 9px;
            border: 1px solid var(--text-color);
            padding-left: 10px;
            margin-top: 8px;
          }

          textarea {
            width: 242px;
            height: 100%;
            border-radius: 9px;
            border: 1px solid var(--text-color);
            margin-top: 8px;
            padding: 10px;
            font-family: 'Sofia Pro', sans-serif;
          }

          select {
            width: 242px;
            height: 42px;
            border-radius: 9px;
            border: 1px solid var(--text-color);
            padding: 0 5px;
            margin-top: 8px;
          }
        }

        .companyTitle {
          font-size: 28px;
          font-weight: 700;
          color: var(--text-color);
          margin: 0 0 16px 0;
        }

        .formContactContainer {
          display: flex;
          gap: 24px;

          .firstForm {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 16px;
          }

          .secondForm {
            @extend .inputContainer;
            width: 50%;
          }
        }
      }
    }

    .submitFormButton {
      margin-top: 43px;
      margin-left: 520px;
    }
  }
}

// TABLET
@media screen and (max-width: 768px) {
  .contactUsCard {
    margin-top: 176px;

    .title {
      font-size: 38px;
      margin-bottom: 56px;
    }

    .contactUsContainer {
      width: 736px;
      height: auto;

      .formContainerImage {
        flex-direction: column;
        gap: 20px;

        .contactImage {
          width: 676px;
          height: 200px;
          border-radius: 16px;
        }

        .companyDetailsCard {
          width: 676px;
          margin: 0;
        }
      }
    }
  }
}
