.carouselCaseComponent {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .carouselCase {
    display: flex;
    position: relative;
  }

  .animationCase {
    background-color: var(--ninth-color);
    width: 100%;
    height: 883px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 42px;
    margin-left: 5%;

    .caseTitle {
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
      margin: 0;
    }

    .cardContainer {
      display: flex;

      .img1 {
        position: absolute;
        bottom: 7%;
        right: 28%;
        z-index: 2;
      }

      .img2 {
        position: absolute;
        right: 0;
        top: 13%;
      }

      .img3 {
        @extend .img1;
        visibility: hidden;
        bottom: -15%;
        left: 75%;
      }

      .img4 {
        @extend .img2;
        visibility: hidden;
        bottom: -15%;
        left: 70%;
        z-index: 2;
      }

      .caseTextContainer {
        margin-top: 150px;

        .subTextContext {
          font-size: 18px;
          font-weight: 700;
          line-height: 30px;
          width: 80%;
          margin-bottom: 30px;
        }

        .subTextContext2 {
          @extend .subTextContext;
          color: var(--background-color);
          position: absolute;
          opacity: 0;
          visibility: hidden;
          right: -600px;
        }

        .caseSubTitle {
          font-size: 48px;
          font-weight: 700;
          margin: 0;
        }

        .caseSubTitle2 {
          @extend .caseSubTitle;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          right: -600px;
          color: var(--background-color);
        }
      }
    }

    .cards {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 42px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 10px;
        width: 170px;
        height: 158px;
        border-radius: 16px;
        background-color: var(--background-color);
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        gap: 12px;

        span {
          font-size: 16px;
          margin: 0;
          line-height: 24px;
          text-align: center;
        }
      }
    }

    .cards2 {
      @extend .cards;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      right: -600px;
    }
  }

  .carouselControl {
    margin-top: 32px;
    align-self: center;
    margin-left: -10%;
    display: flex;
    align-items: center;
    position: relative;
    height: 20px;

    .selector {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--text-color);
      cursor: pointer;
    }
  }

  .mobileButton {
    display: none;
    margin: 48px auto 0;
  }

  .scrollLeft {
    animation: scrollCardToTheLeft 700ms forwards;
    animation-delay: 600ms;
  }

  .scrollToRight {
    animation: scrollCardToTheRight 300ms forwards;
    animation-delay: 400ms;
  }

  .moveToTheBottom {
    animation: moveToTheBottom 700ms forwards;
    animation-delay: 600ms;
  }

  .moveTextToTheLeft {
    animation: moveTextToTheLeft 700ms forwards;
    animation-delay: 600ms;
  }

  .moveToTheTop1 {
    animation: moveToTheTop1 700ms forwards;
    animation-delay: 1300ms;
  }

  .moveToTheTop2 {
    animation: moveToTheTop2 700ms forwards;
    animation-delay: 1300ms;
  }

  .moveTextToTheRight {
    animation: moveTextToTheRight 700ms forwards;
    animation-delay: 600ms;
  }

  .transformToWhite {
    animation: transformToWhite 700ms forwards;
    animation-delay: 500ms;
  }

  @keyframes transformToWhite {
    to {
      color: var(--background-color);
    }
  }

  @keyframes scrollCardToTheLeft {
    5% {
      margin: 0;
    }

    100% {
      margin: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: var(--tenth-color);
    }
  }

  @keyframes scrollCardToTheRight {
    from {
    }

    to {
      background-color: var(--ninth-color);
    }
  }

  @keyframes moveToTheBottom {
    from {
      opacity: 1;
    }

    to {
      bottom: -500px;
      opacity: 0;
      top: 600px;
      visibility: hidden;
    }
  }

  @keyframes moveToTheTop1 {
    from {
      opacity: 0;
      bottom: -100%;
    }

    to {
      visibility: visible;
      opacity: 1;
      z-index: 2;
      bottom: 6%;
    }
  }

  @keyframes moveToTheTop2 {
    from {
      opacity: 0;
      top: 1500px;
    }

    to {
      visibility: visible;
      opacity: 1;
      bottom: 6%;
      z-index: 1;
    }
  }

  @keyframes moveTextToTheLeft {
    from {
      opacity: 1;
    }

    to {
      position: absolute;
      margin-left: -500px;
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes moveTextToTheRight {
    from {
      opacity: 0;
    }

    to {
      position: relative;
      right: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}

// TABLET
@media screen and (max-width: 768px) {
  .carouselCaseComponent {
    margin-top: 176px;

    .carouselCase {
      .animationCase {
        padding: 32px;

        .caseTitle {
          font-size: 24px;
        }

        .cardContainer {
          .caseTextContainer {
            margin-top: 130px;

            .caseSubTitle {
              font-size: 38px;
            }

            .subTextContext {
              font-size: 18px;
              width: 55%;
              line-height: 27px;
            }

            .cards {
              gap: 12px;
              margin-bottom: 48px;

              div {
                padding: 0 18px;
                width: 115px;
                height: 147px;
                font-size: 28px;
                line-height: 28px;
                gap: 8px;
                justify-content: center;

                span {
                  font-size: 14px;
                  line-height: 21px;
                }
              }
            }
          }

          .img1 {
            right: 6.5%;
            bottom: 6%;
          }

          .img2 {
            right: -49%;
          }

          .img3 {
            left: 65%;
          }

          .img4 {
            left: 56%;
          }
        }
      }
    }

    .carouselControl {
      margin-top: 24px;
      margin-left: -22%;
    }
  }
}

// PHONE
@media screen and (max-width: 376px) {
  .carouselCaseComponent {
    margin-top: 100px;

    .carouselCase {
      overflow: hidden;

      .animationCase {
        padding: 32px 18px;
        height: 662px;

        .caseTitle {
          font-size: 16px;
        }

        .cardContainer {
          .caseTextContainer {
            margin-top: 40px;

            button {
              display: none;
            }

            .caseSubTitle {
              font-size: 32px;
            }

            .subTextContext {
              font-size: 14px;
              width: 80%;
              line-height: 21px;
            }

            .cards {
              gap: 14px;
              margin-bottom: 48px;

              div {
                padding: 0 18px;
                width: 98px;
                height: 122px;

                span {
                  font-size: 12px;
                  line-height: 18px;
                }
              }
            }
          }

          .img1 {
            width: 94px;
            height: auto;
            right: 65%;
            bottom: -2%;
          }

          .img2 {
            width: 390px;
            right: -25%;
            top: 41%;
          }

          .img3 {
            left: 5%;
          }

          .img4 {
            left: 20%;
          }
        }
      }
    }

    .carouselControl {
      margin-top: 22px;
      margin-left: -42%;
    }

    .mobileButton {
      display: initial;
    }

    @keyframes moveToTheTop1 {
      from {
        opacity: 0;
        bottom: -100%;
      }

      to {
        visibility: visible;
        opacity: 1;
        z-index: 2;
        bottom: 2%;
      }
    }
  }
}
