.hiringRetentionCard {
  margin: 0 10.5%;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 110px;
  row-gap: 42px;

  .specificCard {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);
  }

  .overallCard {
    width: 545px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin: 0;
      margin-right: auto;
    }

    p {
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;
      margin: 0;
      text-align: left;
    }

    .highlight {
      background-color: var(--third-color);
      padding: 9px 16px;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 700;
      margin: 12px 0 24px 0;
      margin-right: auto;
    }

    .highlight2 {
      @extend .highlight;
      background-color: var(--forth-color);
    }

    .highlight3 {
      @extend .highlight;
      background-color: var(--eighth-color);
    }

    .highlight4 {
      @extend .highlight;
      background-color: var(--seventh-color);
    }

    img {
      object-fit: cover;
    }
  }

  .mobileCard {
    display: none;

    .container {
      @extend .overallCard;
    }
  }
}

// TABLET
@media screen and (max-width: 768px) {
  .hiringRetentionCard {
    margin: 176px 32px 0;
    row-gap: 56px;
    column-gap: 24px;

    .specificCard {
      font-size: 36px;
    }

    .overallCard {
      width: 330px;
      height: 270px;

      h2 {
        font-size: 24px;
      }

      .highlight {
        font-size: 14px;
      }

      .highlight3 {
        letter-spacing: -0.8px;
      }

      img {
        width: 330px;
        height: 270px;
        object-fit: fill;
      }
    }
  }
}

// PHONE
@media screen and (max-width: 376px) {
  .hiringRetentionCard {
    grid-template-columns: 1fr;
    gap: 36px;
    margin: 100px 16px 0;

    .specificCard {
      font-size: 32px;
      text-align: center;
      margin-bottom: -60px;
    }

    .overallCard {
      display: none;
    }

    .mobileCard {
      display: initial;

      .container {
        display: initial;
        height: 130px;
        position: relative;

        h2 {
          font-size: 20px;
          margin-bottom: 18px;
          text-align: center;
        }

        .highlight {
          font-size: 12px;
          position: absolute;
          left: 0;
          bottom: 33.7%;
        }

        .highlight2 {
          bottom: 15.8%;
        }

        .highlight3 {
          bottom: 15.6%;
        }

        .highlight4 {
          bottom: 28.5%;
        }

        p {
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 30px;
        }

        img {
          height: 130px;
          object-fit: cover;
          border-radius: 24px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
