.carouselCaseComponent {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .carouselCase {
    display: flex;
  }

  .animationCase {
    position: relative;
    background-color: var(--ninth-color);
    width: 100%;
    height: 883px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 42px;
    margin-left: 5%;

    .caseTitle {
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
      margin: 0;
    }

    .cardContainer {
      display: flex;

      .img1 {
        position: absolute;
        bottom: 7%;
        left: 55%;
        z-index: 2;
      }

      .img2 {
        position: absolute;
        left: 50%;
        top: 13%;
      }

      .img3 {
        @extend .img1;
        visibility: hidden;
        bottom: -15%;
        left: 77%;
      }

      .img4 {
        @extend .img2;
        visibility: hidden;
        bottom: -15%;
        left: 74%;
        z-index: 2;
      }

      .caseTextContainer {
        margin-top: 150px;

        p {
          font-size: 18px;
          font-weight: 700;
          line-height: 30px;
          width: 80%;
          margin-bottom: 30px;
        }

        .caseSubTitle {
          font-size: 48px;
          font-weight: 700;
          margin: 0;
        }

        .caseSubTitle2 {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .cards {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 42px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 10px;
        width: 170px;
        height: 158px;
        border-radius: 16px;
        background-color: var(--background-color);
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        gap: 12px;

        span {
          font-size: 16px;
          margin: 0;
          line-height: 24px;
          text-align: center;
        }
      }
    }
  }

  .carouselControl {
    margin-top: 32px;
    align-self: center;
    margin-left: -3%;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    height: 20px;

    .selector {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--text-color);
      cursor: pointer;
    }
  }

  .moveToRight {
    //animation: moveToTheRight 200ms ease forwards;
  }

  .scrollLeft {
    animation: scrollCardToTheLeft 700ms forwards;
    animation-delay: 600ms;
  }

  .scrollToRight {
    animation: scrollCardToTheRight 300ms forwards;
    animation-delay: 400ms;
  }

  .moveToTheBottom {
    animation: moveToTheBottom 700ms forwards;
    animation-delay: 600ms;
  }

  .moveTextToTheLeft {
    animation: moveTextToTheLeft 700ms forwards;
    animation-delay: 600ms;
  }

  .moveToTheTop1 {
    animation: moveToTheTop1 700ms forwards;
    animation-delay: 1300ms;
  }

  .moveToTheTop2 {
    animation: moveToTheTop2 700ms forwards;
    animation-delay: 1300ms;
  }

  @keyframes scrollCardToTheLeft {
    5% {
      margin: 0;
    }

    100% {
      margin: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: var(--tenth-color);
    }
  }

  @keyframes scrollCardToTheRight {
    from {
      //margin-left: auto;
    }

    to {
      //margin-left: auto;
      background-color: var(--ninth-color);
    }
  }

  @keyframes moveToTheRight {
    from {
      margin-left: 0;
    }

    to {
      margin-left: 30px;
      background-color: red;
    }
  }

  @keyframes moveToTheBottom {
    from {
      opacity: 1;
    }

    to {
      bottom: -500px;
      opacity: 0;
      top: 600px;
      visibility: hidden;
    }
  }

  @keyframes moveToTheTop1 {
    from {
      opacity: 0;
    }

    to {
      visibility: visible;
      opacity: 1;
      z-index: 2;
      bottom: 6%;
    }
  }

  @keyframes moveToTheTop2 {
    from {
      opacity: 0;
    }

    to {
      visibility: visible;
      opacity: 1;
      bottom: 6%;
      z-index: 1;
    }
  }

  @keyframes moveTextToTheLeft {
    from {
      opacity: 1;
    }

    to {
      position: absolute;
      margin-left: -500px;
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes moveTextToTheRight {
    from {
      opacity: 0;
    }

    to {
      position: absolute;
      margin-left: -500px;
      opacity: 1;
      visibility: hidden;
    }
  }
}
