.carouselCaseComponent {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .carouselCase {
    display: flex;
    justify-content: flex-end;
  }

  .animationCase {
    background-color: var(--ninth-color);
    width: 1320px;
    height: 883px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 42px;
    position: relative;

    .caseTitle {
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
      margin: 0;
    }

    .cardContainer {
      display: flex;

      .img1 {
        position: absolute;
        bottom: 7%;
        left: 55%;
        z-index: 2;
      }

      .img2 {
        position: absolute;
        left: 50%;
        top: 13%;
      }

      .caseTextContainer {
        margin-top: 150px;

        p {
          font-size: 18px;
          font-weight: 700;
          line-height: 30px;
          width: 80%;
          margin-bottom: 30px;
        }

        .caseSubTitle {
          font-size: 48px;
          font-weight: 700;
          margin: 0;
        }
      }
    }

    .cards {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 42px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 10px;
        width: 170px;
        height: 158px;
        border-radius: 16px;
        background-color: var(--background-color);
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        gap: 12px;

        span {
          font-size: 16px;
          margin: 0;
          line-height: 24px;
          text-align: center;
        }
      }
    }
  }

  .carouselControl {
    margin-top: 32px;
    align-self: center;
    display: flex;
    gap: 20px;
    align-items: center;

    .selector {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--text-color);
      cursor: pointer;
    }
  }
}
