.techTalent {
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleTech {
    text-align: center;
    width: 60%;
    font-size: 72px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 50px;
    line-height: 72px;
  }

  .techSubText {
    font-size: 16px;
    line-height: 30px;
    width: 40%;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-bottom: 60px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: auto;
  // margin: 90px auto 100px;
  padding: 90px 120px 120px;

  h2 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    margin-bottom: 64px;
  }
}


.developmentProcess {
  @extend .section;

  .mainContainer {
    padding: 0 120px;
  
    .container {
      display: flex;
      padding: 40px 0;
      width: 100%;
      height: 120px;

      &.active {
        @extend .container;
        background-color: #E2CCFF;
        border-radius: 24px;
        padding: 32px 40px;

        .processName {
          width: calc(25% - 40px);
        }

        .number {
          background-color: #1e1f21;
          color: white;
        }
      }

      .processName {
        width: 25%;
        margin: 0;
        align-self: center;
      }

      .number {
        border-radius: 100%;
        border: 1px black solid;
        min-width: 34px;
        height: 34px;
        align-self: center;
        text-align: center;
        line-height: 28px;
        font-weight: 700;
        font-size: 28px;
        margin-right: 28px;
        position: relative;

        &.active {
          background-color: #1e1f21;
          color: white;
        }

        &:after {
          content: "";
          position: absolute;
          right: 45%;
          border-right: 1px dashed #1e1f21;
          top: calc(100% + 8px);
          bottom: -80px;
        }
      }

      .content {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        width: 100%;
        margin: 0;
      }

      &:last-child {
        .number:after {
          display: none;
        }
      }
    }
  }
}

.buildProducts {
  @extend .section;

  .textContainer {
    display: flex;
    gap: 50px;

    .featuresBlock {
      flex-grow: 1;
      flex-basis: 0;
      text-align: left;

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
      }
  
      ul {
        padding-left: 30px;

        li {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }
}

.longTermPartner {
  @extend .section;

  .majorContainer {
    display: flex;
    gap: 20px;
    align-items: center;

    .container {
      width: 380px;
      height: 380px;
      border-radius: 24px;
      padding: 28px;
      display: grid;

      h4 {
        display: flex;
        justify-content: space-between;
        margin: 0;

        img {
          border-radius: 100%;
        }

      }

      span {
        font-size: 28px;
        margin: 0;
        line-height: 150%;
        margin-top: auto;
        font-weight: 700;
      }

      .indicator {
        width: 34px;
        height: 34px;
        background-color: var(--text-color);
        border-radius: 50%;
        color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }

  .title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    margin-bottom: 64px;
  }
}

.businessSolutions {
  @extend .section;

  .contentContainer {
    display: flex;
    gap: 40px;

    .tabContainer {
      display: inline-grid;
      gap: 32px;

      .contactTab {
        display: grid;
        border: 9.5493px solid #000000;
        border-radius: 38px;
        width: 340px;
        height: 735px;
        background: #20263D;
        overflow: hidden;

        .header {
          height: 68px;
          background-color: white;
          display: flex;
          align-items: center;
          padding: 0 27px;
          gap: 14px;

          img {
            &:last-child {
              margin-left: auto;
            }
          }
        }

        .contactForm {

          img {
            margin-top: 40px;
            margin-bottom: 40px;
          }

          form {
            display: grid;
            gap: 20px;
            padding: 0 20px;

            input {
              background-color: transparent;
              height: 48px;
              border-radius: 4px;
              border: 1px solid white;
              padding: 8px;
              font-size: 14px;
              color: white;
              font-family: "Sofia Pro", sans-serif;
            }

            button {
              background: #E359FF;
              box-shadow: 0px 8.53543px 17.0709px rgba(227, 89, 255, 0.1);
              border-radius: 5px;
              padding: 19px 0px;
              border: 0;
              font-size: 18px;
              height: 48px;
              color: white;
            }
          }
        }

        .footer {
          margin-top: auto;
        }
      }

      .tab { 
        padding: 42px;
        border-radius: 24px;
        text-align: left;

        h4 {
          font-weight: 700;
          font-size: 28px;
          line-height: 150%;
          margin: 0 0px 20px;
        }

        ul {
          padding-left: 30px;

          li {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
          }
        }
        button {
          margin-top: 40px;
        }
      }
    }
  }

}

.caseStudies {
  @extend .section;
  background: #1E1F21;
  margin-top: 100px;
  h2 {
    color: white;
  }

  .tabContainer {
    display: flex;
    gap: 20px;
    position: relative;

    .tab {
      border-radius: 32px;
      padding: 42px;
      text-align: left;
      overflow: hidden;
      flex-grow: 1;
      flex-basis: 0;

      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 130%;  
        margin-bottom: 16px;
      }

      .text {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
      }

      button {
        margin: 42px auto 45px;
      }
    }

    .campusReelTab {
      @extend .tab;
      background-color: #5A5DF6;
      -webkit-box-shadow: inset 0px -60px 50px -50px rgba(90,93,246,1);
      -moz-box-shadow: inset 0px -60px 50px -50px rgba(90,93,246,1);
      box-shadow: inset 0px -60px 50px -50px rgba(90,93,246,1);
      color: white;


    }

    .gipperTab {
      @extend .tab;
      background-color: #E2CCFF;
      -webkit-box-shadow: inset 0px -60px 50px -50px rgba(90,93,246,1);
      -moz-box-shadow: inset 0px -60px 50px -50px rgba(90,93,246,1);
      box-shadow: inset 0px -60px 50px -50px rgba(90,93,246,1);
      color: #1E1F21;
  
      h2 {
        color: #1E1F21;
      }
    }

    .footer {
      height: 240px;
      position: relative;
      bottom: -42px;
    }

    .footerCampusReel {
      @extend .footer;

      img {

        &:first-child {
          position: absolute;
          bottom: 0px;
          left: 5px;
          z-index: 15;
        }

        &:last-child {
          position: absolute;
          z-index: 10;
          bottom: 0px;
          right: -42px;
        }
      }
    }

    .footerGipper {
      @extend .footer;
      bottom: -102px;

      img {

        &:first-child {
          position: absolute;
          bottom: 0px;
          left: 5px;
          z-index: 15;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
        }

        &:last-child {
          position: absolute;
          z-index: 10;
          bottom: 0px;
          right: -80px;
        }
      }
    }
  }
}

.scrumLaunchTechnologies {
  @extend .section;
}



.thrive {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  .thriveTitle {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 100px 0 64px 0;
    letter-spacing: 1px;
  }

  .infoThrive {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
    height: 174px;

    h5 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 16px;
    }

    span {
      font-size: 130px;
      font-weight: 700;
    }
  }

  .separator {
    width: 80%;
    border-bottom: 1px solid var(--separator-footer-color);
  }
}

// TABLET
@media screen and (max-width: 768px) {
  .techTalent {
    .titleTech {
      width: 100%;
      font-size: 62px;
      line-height: 62px;
    }

    .techSubText {
      width: 70%;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .longTermPartner {
    margin-top: 0;

    .majorContainer {
      .container {
        width: 221px;
        height: 194px;
        padding: 22px;

        h4 {
          font-size: 20px;
          margin-bottom: 16px;
        }

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 15px;
          line-height: 21px;
        }
      }
    }
  }

  .thrive {
    padding-bottom: 88px;

    .thriveTitle {
      font-size: 38px;
      margin-top: 88px;
      text-align: center;
      letter-spacing: 0;
    }

    .infoThrive {
      width: 90%;
      height: 116px;

      h5 {
        font-size: 22px;
      }

      span {
        font-size: 84px;
      }
    }

    .separator {
      width: 90%;
    }
  }
}

// PHONE
@media screen and (max-width: 376px) {
  .techTalent {
    .titleTech {
      width: 90%;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 22px;
    }

    .techSubText {
      width: 90%;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
  }

  .longTermPartner {
    margin-top: 50px;

    .title {
      font-size: 32px;
      text-align: center;
    }

    .majorContainer {
      flex-direction: column;
      gap: 5px;

      .container {
        width: 343px;
        height: 173px;
        padding: 24px;

        p {
          font-size: 14px;
        }

        .indicator {
          width: 22px;
          height: 22px;
          font-size: 16px;
        }
      }
    }
  }

  .thrive {
    padding-bottom: 50px;

    .hideSeparator {
      display: none;
    }

    .thriveTitle {
      font-size: 32px;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 80%;
    }

    .infoThrive {
      flex-direction: column-reverse;
      align-items: center;

      h5 {
        font-size: 14px;
      }

      span {
        font-size: 64px;
      }
    }
  }
}
