.clientTestimonial {
  margin-top: 192px;

  .title {
    margin: 0;
    margin-bottom: 52px;
    font-size: 48px;
    margin-left: 10.5%;
  }

  .testimony {
    display: flex;
    gap: 20px;
    justify-content: center;

    .iconsTestimony {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 183px;
        height: 142px;
        border-radius: 24px;
        gap: 17px;
        border: 1px solid var(--separator-footer-color);
        background-color: var(--secondary-color);

        .reviewContent {
          background-color: var(--text-color);
          border-radius: 200px;
          color: var(--background-color);
          font-size: 14px;
          padding: 4px 6px;
        }

        div {
          img {
            margin: 0 3px;
            width: 20px;
            height: 20px;
          }
        }

        p {
          margin: 0;
          font-size: 16px;
          font-weight: 500;
          margin-top: 5px;
          text-align: center;
        }
      }
    }

    .photo {
      width: 387px;
      height: 464px;
    }

    .aggregatedData {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .modules {
        display: flex;
        align-items: center;
        gap: 20px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 183px;
          height: 142px;
          border-radius: 16px;
          background-color: var(--seventh-color);
          padding: 16px;
          font-size: 15px;
          line-height: 25px;
          font-weight: 700;

          h2 {
            margin: 0;
            font-size: 42px;
          }
        }

        div:nth-child(2) {
          background-color: var(--forth-color);
        }

        div:nth-child(3) {
          background-color: var(--eighth-color);
        }
      }

      .nextTestimony {
        display: flex;
        gap: 20px;

        .testimonyText {
          border-radius: 16px;
          border: 1px solid var(--separator-footer-color);
          background-color: var(--secondary-color);
          width: 386px;
          height: 303px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h3 {
            margin: 0;
            font-size: 28px;
            font-weight: 700;
          }

          p {
            font-size: 15px;
            line-height: 24px;
          }
        }

        .nextButton {
          background-color: var(--text-color);
          border-radius: 16px;
          width: 183px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;

          h3 {
            color: var(--background-color);
            font-size: 28px;
            line-height: 42px;
            margin: 0;
          }

          div {
            background-color: var(--background-color);
            border-radius: 50%;
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}
