.clientTestimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: auto;
  padding: 90px 120px 120px;
  @media screen and (max-width: 768px) {
    padding: 90px 32px 120px;
    text-align: left;
  }
  @media screen and (max-width: 376px) {
    padding: 90px 16px 120px;
  }

  .title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    margin-bottom: 64px;
  }

  .header {
    display: flex;
    margin-bottom: 64px;
    align-items: center;
    align-self: stretch;
    @media screen and (max-width: 768px) {
      display: block;
      align-items: left;
      margin-bottom: 24px;
    }

    h2 {
      font-weight: 700;
      font-size: 48px;
      margin: 0;
      margin-right: auto;
      @media screen and (max-width: 768px) {
        margin-bottom: 64px;
      }
      @media screen and (max-width: 376px) {
        font-size: 32px;
      }
    }

    .stars {
      display: flex;
      padding-top: 2px;
      align-items: center;
      margin-right: 24px;
      @media screen and (max-width: 768px) {
        display: inline-flex;
      }

      p {
        margin: -5px ;
        margin: 0;
        margin-left: 8px;
        font-weight: 500;
        font-size: 20px;
      }
    }

    .clutch {
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        display: inline-flex;
      }

      p {
        margin-right: 12px;
        text-decoration-line: underline;
        font-weight: 500;
        font-size: 20px;
        @media screen and (max-width: 376px) {
          font-size: 16px;
        }
      }
    }
  }

  .testimony {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 48px;
    @media screen and (max-width: 376px) {
      flex-direction: column;
    }

    .photo {
      flex-grow: 1;
      flex-basis: 0;
      position: relative;
      border-radius: 24px;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        max-width: 40%;
      }
      @media screen and (max-width: 376px) {
        width: 100%;
        max-width: 100%;
        height: 230px;
        flex-basis: unset;
      }

      img {
        position: absolute;
        left: 0;
        top: -30%;
        @media screen and (max-width: 768px) {
          height: 100%;
          left: -75%;
          top: 0;
        }
        @media screen and (max-width: 376px) {
          left: -50%;
        }
      }
    }

    .aggregatedData {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-grow: 1;
      flex-basis: 0;


      .position {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 24px;
        gap: 17px;
        border: 1px solid var(--separator-footer-color);
        background-color: var(--secondary-color);
        @media screen and (max-width: 376px) {
          padding: 18px 14px;
          gap: 8px;
        }

        h3 {
          font-weight: 700;
          font-size: 28px;
          line-height: 46px;
          margin: 0;
          margin-top: -6px;
          @media screen and (max-width: 768px) {
            font-size: 20px;
          }
        }

        span {
          margin-left: auto;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          @media screen and (max-width: 768px) {
            font-size: 20px;
            margin-top: -6px;
          }
          @media screen and (max-width: 376px) {
            font-size: 14px;
            margin-top: 0px;
          }

          .dot {

          }
        }
      }

      .nextTestimony {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border-radius: 24px;
        gap: 17px;
        border: 1px solid var(--separator-footer-color);
        background-color: var(--secondary-color);
        text-align: left;

        h3 {
          margin: 0;
          font-size: 20px;
          font-weight: 700;
        }

        p {
          line-height: 24px;
          font-weight: 500;
          font-size: 16px;
          margin: 0;
        }

        .testimonyText {
          border-radius: 16px;
          border: 1px solid var(--separator-footer-color);
          background-color: var(--secondary-color);
          width: 100%;
          height: 303px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          

          
        }

        .nextButton {
          background-color: var(--text-color);
          border-radius: 16px;
          width: 183px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;

          h3 {
            color: var(--background-color);
            font-size: 28px;
            line-height: 42px;
            margin: 0;
          }

          div {
            background-color: var(--background-color);
            border-radius: 50%;
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

// TABLET
// @media screen and (max-width: 768px) {
//   .clientTestimonial {
//     margin-top: 176px;

//     .title {
//       text-align: center;
//       margin-left: 0;
//     }

//     .testimony {
//       flex-direction: column;
//       align-items: center;
//       gap: 26px;

//       .photo {
//         .subTitle {
//           left: -2px;
//         }
//       }

//       .aggregatedData {
//         .iconsTestimony {
//           flex-direction: row;

//           .icon {
//             border-radius: 16px;
//           }

//           .hideMobile {
//             border: none;
//             background-color: var(--text-color);
//             padding: 16px;
//             gap: 0;

//             img,
//             .reviewContent {
//               display: none;
//             }

//             .mobileText {
//               display: initial;
//             }

//             .iconTestimonyArrow {
//               display: flex;

//               img {
//                 display: initial;
//                 margin: 0;
//               }
//             }
//           }
//         }

//         .nextTestimony {
//           flex-direction: column;
//           gap: 0;

//           .testimonyText {
//             background-color: var(--background-color);
//             border: none;
//             padding: 0;
//             height: auto;
//             width: 589px;

//             p {
//               font-size: 16px;
//             }
//           }

//           .nextButton {
//             height: 51px;
//             width: 227px;
//             border-radius: 200px;
//             flex-direction: row;
//             align-items: center;
//             justify-content: space-between;
//             margin: 48px auto 0;
//             padding: 0 7px 0 29px;

//             h3 {
//               font-size: 18px;
//               line-height: 27px;
//               font-weight: 500;
//             }

//             div {
//               width: 42px;
//               height: 42px;
//               align-self: center;

//               img {
//                 width: 18px;
//                 height: 18px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// PHONE
// @media screen and (max-width: 376px) {
//   .clientTestimonial {
//     margin-top: 100px;

//     .title {
//       font-size: 32px;
//     }

//     .testimony {
//       flex-direction: column;
//       align-items: center;
//       gap: 26px;

//       .photo {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: fit-content;

//         img {
//           width: 343px;
//           height: 210px;
//           object-fit: cover;
//           border-radius: 16px;
//         }

//         .subTitle {
//           width: 100%;
//           height: fit-content;
//           left: 24%;
//           bottom: 5%;
//           background-color: transparent;
//           border: none;
//           padding: 0;
//           gap: 70px;
//           flex-direction: row;
//           align-items: center;

//           h3,
//           span {
//             color: var(--background-color);
//           }
//         }
//       }

//       .aggregatedData {
//         .iconsTestimony {
//           gap: 11px;
//           align-self: center;

//           .icon {
//             width: 107px;
//             height: 83px;
//             border-radius: 9px;

//             p {
//               font-size: 10px;
//             }

//             div {
//               margin-top: -12px;

//               img {
//                 width: 14px;
//                 height: 14px;
//                 margin: 0 1.5px;
//               }

//               p {
//                 margin-top: 2px;
//               }
//             }

//             img {
//               width: 87px;
//               height: 20px;
//             }
//           }

//           .hideMobile {
//             padding: 10px;

//             div {
//               margin: 0;
//             }

//             .mobileText {
//               font-size: 12px;
//               line-height: 16px;
//               font-weight: 500;
//             }

//             .iconTestimonyArrow {
//               width: 32px;
//               height: 32px;

//               img {
//                 width: 14px;
//               }
//             }
//           }
//         }

//         .nextTestimony {
//           padding: 0 16px;

//           .testimonyText {
//             width: fit-content;

//             h3 {
//               font-size: 20px;
//             }

//             p {
//               font-size: 16px;
//             }
//           }

//           .nextButton {
//             margin: 40px auto 0;
//           }
//         }
//       }
//     }
//   }
// }
