@font-face {
  font-family: 'Proxima Nova';
  src: url('@/assets/fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('@/assets/fonts/ProximaNova-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('@/assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('@/assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@/assets/fonts/ProximaNova-Black.eot');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
    url('@/assets/fonts/ProximaNova-Black.eot?#iefix')
      format('embedded-opentype'),
    url('@/assets/fonts/ProximaNova-Black.woff') format('woff'),
    url('@/assets/fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@/assets/fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('@/assets/fonts/ProximaNova-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('@/assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('@/assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@/assets/fonts/ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('@/assets/fonts/ProximaNova-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('@/assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('@/assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
