@import 'reset';
@import 'fonts';
@import 'common';

body {
  font-family: 'Proxima Nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1e1f21;
  position: relative;
}

#nav {
  position: absolute;
  width: 100%;
  z-index: 100;
}
