@font-face {
  font-family: 'Sofia Pro';
  font-feature-settings: normal;
  src: url('/public/fonts/SofiaProRegular.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --border-color: #6c727f;
  --background-color: #fff;
  --separator-footer-color: #a9a69e;
  --text-color: #1e1f21;
  --secondary-color: #f4f2ec;
  --third-color: #97f7e0;
  --forth-color: #e2ccff;
  --fifth-color: #e1e2e3;
  --sixth-color: #6c727f;
  --seventh-color: #ffd7c2;
  --eighth-color: #ffccdc;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
