.servicesCard {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 0 0 57px 0;
    font-weight: 700;
    font-size: 48px;
    color: var(--text-color);
  }

  .serviceContainer {
    display: flex;
    align-items: center;
    min-width: 1200px;
    margin-bottom: 20px;

    .container {
      background-color: var(--forth-color);
      width: 100%;
      height: 398px;
      border-bottom-left-radius: 32px;
      border-top-left-radius: 32px;
      display: flex;
      align-items: center;
      padding: 42px;
      font-size: 36px;
      line-height: 50px;
    }

    .container2 {
      @extend .container;
      background-color: var(--third-color);
    }
  }
}

// TABLET
@media screen and (max-width: 768px) {
  .servicesCard {
    .title {
      font-size: 38px;
    }

    .serviceContainer {
      width: 704px;
      min-width: auto;

      img {
        width: 352px;
        height: 398px;
        object-fit: cover;
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
      }
    }
  }
}

// PHONE
@media screen and (max-width: 376px) {
  .servicesCard {
    .title {
      font-size: 32px;
    }

    .serviceContainer {
      width: 343px;

      .container {
        height: 172px;
        font-size: 20px;
        line-height: 30px;
        width: 50%;
        padding: 42px 24px;
        line-height: 30px;
      }

      img {
        width: 171px;
        height: 172px;
      }
    }
  }
}
