.techTalent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  .callToActionSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .titleTech {
    width: 100%;
    font-size: 72px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 50px;
    line-height: 72px;
    max-width: 500px;
    text-align: left;
  }

  .techSubText {
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    font-weight: 500;
    margin: 0;
    margin-bottom: 60px;
  }

  .techButton {
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin: 0;
    margin-bottom: 60px;
  }

  .heroCard {
    position: relative;
    z-index: 1;
    padding-left: -10px;
    max-width: 30rem;

    .heroCardRectangle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28rem;
      height: 24rem;
      border-radius: 24px;
      background-color: var(--third-color);
      z-index: -1;
      padding-right: 16rem;
    }

    .heroCardImage {
      position: relative;
      height: 18rem;
      width: auto;
      margin-left: 10rem;
    }
  }
}

.staffSection {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .staffItems {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  .title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    text-align: center;
    padding: 2rem 2.3rem;
  }

  .subTitle {
    font-weight: 700;
    font-size: 36px;
    margin: 0.5rem 2rem;
    padding-bottom: 1rem;
  }

  .subLegend {
    font-weight: 700;
    font-size: 36px;
    margin: 2rem 2rem;
    max-width: 45rem;
    text-align: center;
  }

  .staffCardImage {
    width: auto;
    margin-left: 10rem;
    margin-bottom: 2px;
    background-image: url('../../public/assets/staffCard.png');
    border-radius: 24px;
    background-position: bottom;
    position: relative;
    height: 70vh;
    min-width: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .staffItemsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90rem;
  }

  .staffItemNumber {
    font-weight: 500;
    font-size: 20px;
    background: var(--fifth-color);
    border-radius: 50%;
    display: flex;
    min-width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }

  .staffItemNumberFocused {
    font-weight: 700;
    font-size: 34px;
    background: var(--forth-color);
    border-radius: 50%;
    display: flex;
    min-width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
  }

  .staffItem {
    margin: 0;
    margin-top: 1rem;

    ul {
      margin: 0;
    }

    .li_last {
      border-bottom: 1px solid var(--separator-footer-color);
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-top: 1px solid var(--separator-footer-color);
      padding-top: 1rem;
      line-height: 30px;

      .staffItemText {
        list-style: none;
        padding: 0;
        margin: 0.5rem;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
      }

      .staffItemTextFocused {
        list-style: none;
        padding: 0;
        margin: 0.5rem;
        font-weight: 700;
        font-size: 20px;
        max-width: 32rem;
      }
    }
  }
}

.thrive {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  .thriveTitle {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 100px 0 64px 0;
    letter-spacing: 1px;
  }

  .infoThrive {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
    height: 174px;

    h5 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 16px;
    }

    span {
      font-size: 130px;
      font-weight: 700;
    }
  }

  .separator {
    width: 80%;
    border-bottom: 1px solid var(--separator-footer-color);
  }
}

// TABLET
@media screen and (max-width: 1180px) {
  .techTalent {
    display: flex;
    flex-direction: column;

    .callToActionSection {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .titleTech {
      width: 100%;
      font-size: 72px;
      font-weight: 900;
      margin-top: 90px;
      margin-bottom: 50px;
      line-height: 62px;
      max-width: 700px;
      text-align: center;
    }

    .techSubText {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 30px;
      width: 100%;
      text-align: center;
      font-weight: 500;
      margin: 0;
      margin-bottom: 40px;
    }

    .techButton {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
      margin-bottom: 60px;
    }

    .heroCard {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;

      .heroCardRectangle {
        position: relative;
        height: 22rem;
        width: 28rem;
        border-radius: 24px;
        background-color: var(--third-color);
        z-index: -1;
      }

      .heroCardImage {
        background-image: url("../../public/assets/heroCard.png");
        border-radius: 24px;
        position: relative;
        height: 18rem;
        width: auto;
        margin-left: 18vw;
      }
    }
  }

  .staffSection {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .staffCardImage {
      position: relative;
      margin-left: 0;
      width: 20px;
      height: auto;
    }

    .staffCardContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }

    .staffItems {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }

    .title {
      color: var(--text-color);
      font-weight: 700;
      font-size: 38px;
      margin: 0;
      text-align: center;
      padding: 2rem 1.3rem;
    }

    .subTitle {
      font-weight: 700;
      font-size: 36px;
      margin: 0.5rem 2rem;
      padding-bottom: 1rem;
    }

    .subLegend {
      font-weight: 700;
      font-size: 36px;
      margin: 2rem 2rem;
      max-width: 45rem;
      text-align: center;
    }

    .staffCardImage {
      position: relative;
      height: 200px;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      width: 90%;
    }

    .staffItemsList {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .staffItemNumber {
      font-weight: 500;
      font-size: 16px;
      background: var(--fifth-color);
      border-radius: 50%;
      display: flex;
      min-width: 2rem;
      height: 2rem;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
    }

    .staffItemNumberFocused {
      font-weight: 700;
      font-size: 28px;
      background: var(--forth-color);
      border-radius: 50%;
      display: flex;
      min-width: 2.5rem;
      height: 2.5rem;
      justify-content: center;
      align-items: center;
    }

    .staffItem {
      margin: 0;
      margin-top: 1rem;
      padding: 1.3rem;

      ul {
        margin: 0;
        padding: 0;
      }

      .li_last {
        border-bottom: 1px solid var(--separator-footer-color);
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-top: 1px solid var(--separator-footer-color);
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        line-height: 32px;
        

        .staffItemText {
          list-style: none;
          padding: 0;
          margin: 0.5rem;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
        }

        .staffItemTextFocused {
          list-style: none;
          padding: 0;
          margin: 0.5rem;
          font-weight: 700;
          font-size: 20px;
          width: 100%;
          max-width: unset;
        }
      }
    }
  }

  .thrive {
    padding-bottom: 88px;

    .thriveTitle {
      font-size: 38px;
      margin-top: 88px;
      text-align: center;
      letter-spacing: 0;
    }

    .infoThrive {
      width: 90%;
      height: 116px;

      h5 {
        font-size: 22px;
      }

      span {
        font-size: 84px;
      }
    }

    .separator {
      width: 100%;
    }
  }
}

// PHONE
@media screen and (max-width: 460px) {
  .techTalent {
    display: flex;
    flex-direction: column;

    .callToActionSection {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .titleTech {
      width: 100%;
      font-size: 32px;
      font-weight: 900;
      margin-top: 30px;
      margin-bottom: 5px;
      line-height: 32px;
      max-width: 500px;
      text-align: center;
      padding: 1rem;
    }

    .techSubText {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      text-align: center;
      margin: 0;
      margin-bottom: 40px;
      padding: 1rem;
    }

    .techButton {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
      margin-bottom: 40px;
    }

    .heroCard {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

      .heroCardRectangle {
        position: relative;
        height: 14rem;
        width: 20rem;
        border-radius: 24px;
        background-color: var(--third-color);
        z-index: -1;
      }

      .heroCardImage {
        position: relative;
        height: 12rem;
        width: auto;
        margin-left: 14rem;
      }
    }
  }

  .staffSection {
    margin-top: 50px;

    .staffItemNumber {
      font-weight: 500;
      font-size: 16px;
      background: var(--fifth-color);
      border-radius: 50%;
      display: flex;
      min-width: 1.3rem;
      height: 1.3rem;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
    }

    .staffItemNumberFocused {
      font-weight: 700;
      font-size: 20px;
      background: var(--forth-color);
      border-radius: 50%;
      display: flex;
      min-width: 2rem;
      height: 2rem;
      justify-content: center;
      align-items: center;
    }

    .staffItems {
      .staffItem {

        ul {
          margin: 1rem;
        }

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-top: 1px solid var(--separator-footer-color);
          line-height: 32px;

          .staffItemText {
            list-style: none;
            padding: 0;
            margin: 0.5rem;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
          }

          .staffItemTextFocused {
            list-style: none;
            padding: 0;
            margin: 0.5rem;
            font-weight: 800;
            font-size: 16px;
            max-width: 32rem;
          }
        }
      }
    }

    .subTitle {
      font-weight: 800;
      font-size: 20px;
      margin: 0rem;
      padding-bottom: 1rem;
      text-align: center;
      line-height: 30px;
    }

    .title {
      font-size: 32px;
      text-align: center;
      line-height: 42px;
    }

    .staffItems {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    

    .staffItem {
      margin: 0;
      padding: 0;
    }
  }

  .thrive {
    padding-bottom: 50px;

    .hideSeparator {
      display: none;
    }

    .thriveTitle {
      font-size: 32px;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 80%;
    }

    .infoThrive {
      flex-direction: column-reverse;
      align-items: center;

      h5 {
        font-size: 14px;
      }

      span {
        font-size: 64px;
      }
    }
  }
}
