.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: auto;
  // margin: 90px auto 100px;
  padding: 90px 120px 60px;

  @media screen and (max-width: 768px) {
    padding: 90px 32px 50px;
  }
  @media screen and (max-width: 376px) {
    padding: 50px 16px 50px;
  }

  h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
  }

  h2 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    margin-bottom: 64px;

    @media screen and (max-width: 768px) {
      font-size: 38px;
    }
    @media screen and (max-width: 376px) {
      font-size: 32px;
      margin-bottom: 24px;
    }
  }
}

.techTalent {
  @extend .section;

  .infoRow {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    
    
    .imgContainer {
      flex-grow: 1;
      flex-basis: 0;
      width: 545px;
      border-radius: 24px;
      @media screen and (max-width: 768px) {
        position: relative;
        width: 100%;
        min-height: 300px;
        overflow: hidden;
      }
      @media screen and (max-width: 376px) {
        min-height: 250px;
      }
      img {
        position: initial;
        left: 0;
        width: 100%;
        bottom: -25%;
        @media screen and (max-width: 768px) {
          position: absolute;
          width: 100%;
          bottom: -50%;
          height: auto;
        }
        @media screen and (max-width: 376px) {
          bottom: 0;
          height: 100%;
        }
      }
    }

    .actionContainer {
      flex-grow: 1;
      flex-basis: 0;
      position: relative;


      .titleTech {
        margin: 0;
        text-align: left;
        @media screen and (max-width: 768px) {
          font-size: 62px;
          text-align: center;
        }
        @media screen and (max-width: 376px) {
          font-size: 32px;
          margin: auto;
        }
      }

      .techSubText {
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        text-align: left;
        @media screen and (max-width: 768px) {
          margin: 42px auto 48px;
          padding: 0 50px;
          text-align: center;
        }
        @media screen and (max-width: 376px) {
          padding: 0;
        }
      }

      button {
        position: absolute;
        bottom: 0;
        @media screen and (max-width: 768px) {
          position: initial;
          margin:auto;
        }
      }
    }
  }

  

  // .titleTech {
  //   text-align: center;
  //   width: 60%;
  //   font-size: 72px;
  //   font-weight: 700;
  //   margin-top: 90px;
  //   margin-bottom: 50px;
  //   line-height: 72px;
  // }

  
}

.longTermPartner {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .majorContainer {
    display: flex;
    gap: 20px;
    align-items: center;

    .container {
      width: 387px;
      height: 316px;
      border-radius: 24px;
      background-color: var(--seventh-color);
      padding: 28px;

      h4 {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 22px;
        margin: 0;
        margin-bottom: 70px;
      }

      h2 {
        font-size: 72px;
        margin: 0;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        margin: 0;
        font-weight: 500;
        line-height: 30px;
      }

      .indicator {
        width: 34px;
        height: 34px;
        background-color: var(--text-color);
        border-radius: 50%;
        color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
      }
    }

    .container2 {
      @extend .container;
      background-color: var(--forth-color);
    }

    .container3 {
      @extend .container;
      background-color: var(--eighth-color);
    }
  }

  .title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    margin-bottom: 64px;
  }
}

.thrive {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  .thriveTitle {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 100px 0 64px 0;
    letter-spacing: 1px;
  }

  .infoThrive {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
    height: 174px;

    h5 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 16px;
    }

    span {
      font-size: 130px;
      font-weight: 700;
    }
  }

  .separator {
    width: 80%;
    border-bottom: 1px solid var(--separator-footer-color);
  }
}

// TABLET
@media screen and (max-width: 768px) {

  .longTermPartner {
    margin-top: 0;

    .majorContainer {
      .container {
        width: 221px;
        height: 194px;
        padding: 22px;

        h4 {
          font-size: 20px;
          margin-bottom: 16px;
        }

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 15px;
          line-height: 21px;
        }
      }
    }
  }

  .thrive {
    padding-bottom: 88px;

    .thriveTitle {
      font-size: 38px;
      margin-top: 88px;
      text-align: center;
      letter-spacing: 0;
    }

    .infoThrive {
      width: 90%;
      height: 116px;

      h5 {
        font-size: 22px;
      }

      span {
        font-size: 84px;
      }
    }

    .separator {
      width: 90%;
    }
  }
}

// PHONE
@media screen and (max-width: 376px) {
  .techTalent {
    .titleTech {
      width: 90%;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 22px;
    }

    .techSubText {
      width: 90%;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
  }

  .longTermPartner {
    margin-top: 50px;

    .title {
      font-size: 32px;
      text-align: center;
    }

    .majorContainer {
      flex-direction: column;
      gap: 5px;

      .container {
        width: 343px;
        height: 173px;
        padding: 24px;

        p {
          font-size: 14px;
        }

        .indicator {
          width: 22px;
          height: 22px;
          font-size: 16px;
        }
      }
    }
  }

  .thrive {
    padding-bottom: 50px;

    .hideSeparator {
      display: none;
    }

    .thriveTitle {
      font-size: 32px;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 80%;
    }

    .infoThrive {
      flex-direction: column-reverse;
      align-items: center;

      h5 {
        font-size: 14px;
      }

      span {
        font-size: 64px;
      }
    }
  }
}
