.techTalent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  .callToActionSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .titleTech {
    width: 100%;
    font-size: 72px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 50px;
    line-height: 72px;
    max-width: 500px;
    text-align: left;
  }

  .techSubText {
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    font-weight: 500;
    margin: 0;
    margin-bottom: 60px;
  }

  .techButton {
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin: 0;
    margin-bottom: 60px;
  }

  .heroCard {
    position: relative;
    z-index: 1;
    padding-left: -10px;
    max-width: 30rem;

    .heroCardRectangle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28rem;
      height: 24rem;
      border-radius: 24px;
      background-color: var(--third-color);
      z-index: -1;
      padding-right: 16rem;
    }

    .heroCardImage {
      position: relative;
      height: 18rem;
      width: auto;
      margin-left: 10rem;
    }
  }
}

.longTermPartner {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .majorContainer {
    display: flex;
    gap: 20px;
    align-items: center;

    .container {
      width: 387px;
      height: 316px;
      border-radius: 24px;
      background-color: var(--seventh-color);
      padding: 28px;

      h4 {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 22px;
        margin: 0;
        margin-bottom: 70px;
      }

      h2 {
        font-size: 72px;
        margin: 0;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        margin: 0;
        font-weight: 500;
        line-height: 30px;
      }

      .indicator {
        width: 34px;
        height: 34px;
        background-color: var(--text-color);
        border-radius: 50%;
        color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
      }
    }

    .container2 {
      @extend .container;
      background-color: var(--forth-color);
    }

    .container3 {
      @extend .container;
      background-color: var(--eighth-color);
    }
  }

  .title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    margin-bottom: 64px;
  }
}

.thrive {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  .thriveTitle {
    color: var(--text-color);
    font-weight: 700;
    font-size: 48px;
    margin: 100px 0 64px 0;
    letter-spacing: 1px;
  }

  .infoThrive {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
    height: 174px;

    h5 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 16px;
    }

    span {
      font-size: 130px;
      font-weight: 700;
    }
  }

  .separator {
    width: 80%;
    border-bottom: 1px solid var(--separator-footer-color);
  }
}

// TABLET
@media screen and (max-width: 1180px) {
  .techTalent {
    display: flex;
    flex-direction: column;

    .callToActionSection {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .titleTech {
      width: 100%;
      font-size: 72px;
      font-weight: 700;
      margin-top: 90px;
      margin-bottom: 50px;
      line-height: 72px;
      max-width: 500px;
      text-align: center;
    }

    .techSubText {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 30px;
      width: 100%;
      text-align: center;
      font-weight: 500;
      margin: 0;
      margin-bottom: 60px;
    }

    .techButton {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
      margin-bottom: 60px;
    }

    .heroCard {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10rem;

      .heroCardRectangle {
        position: relative;
        height: 24rem;
        width: 28rem;
        border-radius: 24px;
        background-color: var(--third-color);
        z-index: -1;
      }

      .heroCardImage {
        position: relative;
        height: 18rem;
        width: auto;
        margin-left: 10rem;
      }
    }
  }

  .longTermPartner {
    margin-top: 0;

    .majorContainer {
      .container {
        width: 221px;
        height: 194px;
        padding: 22px;

        h4 {
          font-size: 20px;
          margin-bottom: 16px;
        }

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 15px;
          line-height: 21px;
        }
      }
    }
  }

  .thrive {
    padding-bottom: 88px;

    .thriveTitle {
      font-size: 38px;
      margin-top: 88px;
      text-align: center;
      letter-spacing: 0;
    }

    .infoThrive {
      width: 90%;
      height: 116px;

      h5 {
        font-size: 22px;
      }

      span {
        font-size: 84px;
      }
    }

    .separator {
      width: 90%;
    }
  }
}

// PHONE
@media screen and (max-width: 390px) {
  .techTalent {
    display: flex;
    flex-direction: column;

    .callToActionSection {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .titleTech {
      width: 100%;
      font-size: 32px;
      font-weight: 900;
      margin-top: 30px;
      margin-bottom: 5px;
      line-height: 32px;
      max-width: 500px;
      text-align: center;
      padding: 1rem;
    }

    .techSubText {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      text-align: center;
      margin: 0;
      margin-bottom: 40px;
      padding: 1rem;
    }

    .techButton {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
      margin-bottom: 40px;
    }

    .heroCard {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

      .heroCardRectangle {
        position: relative;
        height: 14rem;
        width: 20rem;
        border-radius: 24px;
        background-color: var(--third-color);
        z-index: -1;
      }

      .heroCardImage {
        position: relative;
        height: 12rem;
        width: auto;
        margin-left: 14rem;
      }
    }
  }

  .longTermPartner {
    margin-top: 50px;

    .title {
      font-size: 32px;
      text-align: center;
    }

    .majorContainer {
      flex-direction: column;
      gap: 5px;

      .container {
        width: 343px;
        height: 173px;
        padding: 24px;

        p {
          font-size: 14px;
        }

        .indicator {
          width: 22px;
          height: 22px;
          font-size: 16px;
        }
      }
    }
  }

  .thrive {
    padding-bottom: 50px;

    .hideSeparator {
      display: none;
    }

    .thriveTitle {
      font-size: 32px;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 80%;
    }

    .infoThrive {
      flex-direction: column-reverse;
      align-items: center;

      h5 {
        font-size: 14px;
      }

      span {
        font-size: 64px;
      }
    }
  }
}
