#footer {
  background-color: var(--secondary-color);
  height: 197px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 60px 120px;

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      gap: 40px;

      a {
        font-size: 14px;
        color: var(--text-color);
      }
    }
  }

  .llcSeparator {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      width: 30%;
      font-size: 14px;
      color: var(--separator-footer-color);
    }

    .divider {
      width: 100%;
      height: 1px;
      border-bottom: 1px solid var(--separator-footer-color);
    }
  }
}
