@font-face {
  font-family: 'Sofia Pro';
  font-feature-settings: normal;
  src: url('../public/fonts/SofiaProRegular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --border-color: #6c727f;
  --background-color: #fff;
  --separator-footer-color: #a9a69e;
  --text-color: #1e1f21;
  --secondary-color: #f4f2ec;
  --third-color: #97f7e0;
  --forth-color: #e2ccff;
  --fifth-color: #e1e2e3;
  --sixth-color: #6c727f;
  --seventh-color: #ffd7c2;
  --eighth-color: #ffccdc;
  --ninth-color: #74c947;
  --tenth-color: #5a5df6;
  --error-color: rgb(253, 36, 36);
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }


// Swiper with fade effect

.swiperWithFade {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiperSlide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiperSlide img {
    display: block;
    width: 100%;
  }
  
  .swiper-slide {
    @media screen and (max-width: 376px) {
      margin-left: 5px;
    }
    img {
      @media screen and (max-width: 376px) {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .swiper-slide-next {
    filter: blur(2px);
    transition: 4s ease-in;
    transform: translateY(80px);
  }
  
  .swiper-slide-prev {
    filter: blur(2px);
    transition: 4s ease-in;
    transform: translateY(80px);
  }
}

